<app-page-iframe [picture]="picture" [ZH_TITLE]="ZH_TITLE" [EN_TITLE]="EN_TITLE" [NAV_INDEX]="NAV_INDEX">
    <div class="h-content-layout">
        <div class="h-content-top">
            <button [ngClass]="{companyNews: isConpanyNews}">公司新闻</button>
            <button [ngClass]="{companyNews: !isConpanyNews}">行业新闻</button>
            <input type="text" placeholder="搜索新闻">
        </div>
        <ul class="h-content-botttom">
            <li *ngFor="let item of newsArr">
                <img src="assets/images/newsList.png" alt="" (click)="scanNewsBulletinDetail()">
                <div class="content">
                    <h4>{{item['title']}}</h4>
                    <p>{{item['detail']}}</p>
                    <span>{{item['date']}}</span>
                </div>
            </li>
        </ul>
        <p-paginator [rows]="5" [totalRecords]="18"></p-paginator>
    </div>
</app-page-iframe>