<app-page-iframe [picture]="picture" [ZH_TITLE]="ZH_TITLE" [EN_TITLE]="EN_TITLE" [NAV_INDEX]="NAV_INDEX">
    <div class="h-content-layout">
        <div class="h-content-top">
            <a [routerLink]="['/myProjects']">我的项目</a>&lt;&lt;<span>待办事项</span>
        </div>
        <ul class="h-content-botttom">
            <li class="contentTitle">
                <h4>待办事项<span>{{allTodoThings.length}}</span></h4>
            </li>
            <li class="ui-g" *ngFor="let item of rencentPageTotoThings">
                <div class="ui-g-10">
                    <div class="listDetail"><span>【任务审批通知】</span><span>{{item.taskState}}</span></div>
                    <div class="listMes"><span>表单编号：{{item.formCode}}</span><span>表单名称：{{item.formName}}</span></div>
                </div>
                <div class="ui-g-2 text-center">
                    <button (click)="onGoResolveClick(item.screenUrl)">马上办理</button>
                    <p>{{item.startTime.split(' ')[0]}}</p>
                </div>
            </li>
        </ul>
        <p-paginator [rows]="5" [totalRecords]="allTodoThings.length" (onPageChange)=onPageChange($event)></p-paginator>
    </div>
</app-page-iframe>