<app-page-iframe [picture]="picture" [ZH_TITLE]="ZH_TITLE" [EN_TITLE]="EN_TITLE" [NAV_INDEX]="NAV_INDEX">
    <div class="h-content-layout">
        <div class="h-content-top">
            <a [routerLink]="['/myProjects']">我的项目</a>&lt;&lt;<span>待办事项</span>
        </div>
        <ul class="h-content-botttom">
            <li class="contentTitle">
                <h4>待办事项<span>10</span></h4>
            </li>
            <li class="ui-g">
                <div class="ui-g-10">
                    <div class="listDetail"><span>【任务审批通知】</span><span>新的《空调系统试运转调试记录》审批流程需要处理</span></div>
                    <div class="listMes"><span>类型：审批流程</span><span>发送人：安静二</span></div>
                </div>
                <div class="ui-g-2 text-center">
                    <button>查看详情</button>
                    <p>2017-07-08</p>
                </div>
            </li>
            <li class="ui-g">
                <div class="ui-g-10">
                    <div class="listDetail"><span>【任务审批通知】</span><span>新的《空调系统试运转调试记录》审批流程需要处理</span></div>
                    <div class="listMes"><span>类型：审批流程</span><span>发送人：安静二</span></div>
                </div>
                <div class="ui-g-2 text-center">
                    <button>查看详情</button>
                    <p>2017-07-08</p>
                </div>
            </li>
            <li class="ui-g">
                <div class="ui-g-10">
                    <div class="listDetail"><span>【任务审批通知】</span><span>新的《空调系统试运转调试记录》审批流程需要处理</span></div>
                    <div class="listMes"><span>类型：审批流程</span><span>发送人：安静二</span></div>
                </div>
                <div class="ui-g-2 text-center">
                    <button>查看详情</button>
                    <p>2017-07-08</p>
                </div>
            </li>
            <li class="ui-g">
                <div class="ui-g-10">
                    <div class="listDetail"><span>【任务审批通知】</span><span>新的《空调系统试运转调试记录》审批流程需要处理</span></div>
                    <div class="listMes"><span>类型：审批流程</span><span>发送人：安静二</span></div>
                </div>
                <div class="ui-g-2 text-center">
                    <button>查看详情</button>
                    <p>2017-07-08</p>
                </div>
            </li>
            <li class="ui-g">
                <div class="ui-g-10">
                    <div class="listDetail"><span>【任务审批通知】</span><span>新的《空调系统试运转调试记录》审批流程需要处理</span></div>
                    <div class="listMes"><span>类型：审批流程</span><span>发送人：安静二</span></div>
                </div>
                <div class="ui-g-2 text-center">
                    <button>查看详情</button>
                    <p>2017-07-08</p>
                </div>
            </li>
            <li class="ui-g">
                <div class="ui-g-10">
                    <div class="listDetail"><span>【任务审批通知】</span><span>新的《空调系统试运转调试记录》审批流程需要处理</span></div>
                    <div class="listMes"><span>类型：审批流程</span><span>发送人：安静二</span></div>
                </div>
                <div class="ui-g-2 text-center">
                    <button>查看详情</button>
                    <p>2017-07-08</p>
                </div>
            </li>
            <li class="ui-g">
                <div class="ui-g-10">
                    <div class="listDetail"><span>【任务审批通知】</span><span>新的《空调系统试运转调试记录》审批流程需要处理</span></div>
                    <div class="listMes"><span>类型：审批流程</span><span>发送人：安静二</span></div>
                </div>
                <div class="ui-g-2 text-center">
                    <button>查看详情</button>
                    <p>2017-07-08</p>
                </div>
            </li>
            <li class="ui-g">
                <div class="ui-g-10">
                    <div class="listDetail"><span>【任务审批通知】</span><span>新的《空调系统试运转调试记录》审批流程需要处理</span></div>
                    <div class="listMes"><span>类型：审批流程</span><span>发送人：安静二</span></div>
                </div>
                <div class="ui-g-2 text-center">
                    <button>查看详情</button>
                    <p>2017-07-08</p>
                </div>
            </li>
            <li class="ui-g">
                <div class="ui-g-10">
                    <div class="listDetail"><span>【任务审批通知】</span><span>新的《空调系统试运转调试记录》审批流程需要处理</span></div>
                    <div class="listMes"><span>类型：审批流程</span><span>发送人：安静二</span></div>
                </div>
                <div class="ui-g-2 text-center">
                    <button>查看详情</button>
                    <p>2017-07-08</p>
                </div>
            </li>
            <li class="ui-g">
                <div class="ui-g-10">
                    <div class="listDetail"><span>【任务审批通知】</span><span>新的《空调系统试运转调试记录》审批流程需要处理</span></div>
                    <div class="listMes"><span>类型：审批流程</span><span>发送人：安静二</span></div>
                </div>
                <div class="ui-g-2 text-center">
                    <button>查看详情</button>
                    <p>2017-07-08</p>
                </div>
            </li>
        </ul>
        <p-paginator [rows]="5" [totalRecords]="18"></p-paginator>
    </div>
</app-page-iframe>