<app-page-iframe [picture]="picture" [ZH_TITLE]="ZH_TITLE" [EN_TITLE]="EN_TITLE" [NAV_INDEX]="NAV_INDEX" class="myProjects">
  <div class="h-content-layout">
    <div class="v-top text-right">
      <button class="todoBtn" (click)="jumpTodopage()">待办事项<span>10</span></button>
    </div>
    <div class="ui-g v-bottom">
      <div class="ui-g-5 allProjectsList">
        <h4 class="title"><span></span>项目列表<span></span></h4>
        <div class="projects-lauout">
          <div class="projectsList v-building-box">
            <h4><span></span>在建项目</h4>
            <p-tree [value]="projects['building']" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)"
              (onNodeCollapse)="onNodeCollapse($event)"></p-tree>
          </div>
          <div class="projectsList v-finished-box">
            <h4><span></span>已完成项目</h4>
            <p-tree [value]="projects['finished']" selectionMode="single" (onNodeSelect)="nodeSelect($event)"
              (onNodeCollapse)="onNodeCollapse($event)"></p-tree>
          </div>
        </div>
      </div>
      <div class="ui-g-7 projectsDetail">
        <p-carousel [value]="projectProduce['pics']" numVisible=1>
          <ng-template let-projectPic pTemplate="item">
            <div class="ui-grid ui-grid-responsive">
              <div class="ui-grid-row">
                <div class="ui-grid-col-12 detailBox">
                  <img src="{{projectPic}}" alt="">
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
        <h4 class="simpleProduce">项目简介</h4>
        <div class="underLine"></div>
        <ul class="v-projectDetail">
          <li><span>工程名称：</span><span>{{projectProduce['name']}}</span></li>
          <li><span>工程地址：</span><span>{{projectProduce['address']}}</span></li>
          <li><span>建筑面积：</span><span>{{projectProduce['area']}}平方米</span></li>
        </ul>
      </div>

    </div>
  </div>
</app-page-iframe>