<div class="v-container-layout">
  <div class="ui-g h-top-header">
    <div class="ui-g-6 logo"></div>
    <div class="ui-g-6 buttons">
      <button class="sign" (click)="showDialog()">登录/注册</button>
      <button class="downloadApp text-right" (click)="showQR()">下载APP</button>
    </div>
  </div>
  <div class="ui-g h-bottom-header">
    <h4 class="ui-g-5"><span></span>智慧建造信息平台<span></span></h4>
    <ul class="ui-g-7 nav">
      <li>首页</li>
      <li>我的项目</li>
      <li>新闻通告</li>
      <li>个人中心</li>
      <li>联系我们</li>
    </ul>
  </div>
</div>