/deep/ .v-homepage-container {
    .h-top-content {
        display: none;
    }
    .h-bottom-content {
        padding: 0px !important;
    }
}

.shadow-layout {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: auto;
    background: rgba(3, 52, 71, 0.5);
}

.map-box {
    height: 70vh;
    position: relative;
    .map {
        height: 100%;
        width: 100%;
        /deep/ {
            a.amap-info-close {
                display: none;
            }
            .amap-info-sharp {
                display: none;
            }
            .amap-info-content.amap-info-outer {
                background: rgba(0, 255, 255, 0.7);
                color: #fff;
                font-size: 20px;
                border-radius: 5px;
                border: 1px solid #00ffff;
            }
            .amap-info-contentContainer {
                position: absolute;
                width: 300px;
                left: 0px;
                bottom: 10px;
            }
        }
    }
    .title-box {
        margin-top: 15vh;
        padding: 0 2vw;
        text-align: center;
        color: #fff;
        letter-spacing: 2px;
        .mainTitle {
            font-size: 26px;
            padding: 1.5vh 0;
            letter-spacing: 2px;
            font-family: sans-serif;
        }
        h5.subTitle {
            padding: 1.5vh;
            span {
                display: block;
                padding: 5px;
                font-size: 18px;
            }
        }
        span.line {
            height: 1px;
            width: 140px;
            background: #fff;
            display: inline-block;
            vertical-align: middle;
        }
        span.circle {
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 7px;
            background: #fff;
            margin: 0px 20px;
            vertical-align: middle;
        }
    }
}

.productIntroduce {
    background: #fff;
    padding: 5vh 0; // position: relative;
    .text-right img {
        margin-top: 10vh;
    }
    .detail {
        padding: 0 10vw;
        h3 {
            padding: 5vh 0;
            letter-spacing: 2px;
            color: #585858;
        }
        p {
            color: #585858;
            line-height: 32px;
        }
        ul {
            display: flex;
            padding-top: 4vh;
            li {
                flex: 1;
                padding: 0 1vw;
            }
            img {
                width: 100%;
            }
        }
    }
    .bigpicDialog {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        height: 100vh;
        line-height: 100vh;
        background: rgba(8, 8, 8, 0.4);
        z-index: 2;
        img {
            height: 85%;
        }
        span {
            color: #fff;
            font-size: 18px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            position: absolute;
            border-radius: 15px;
            background: #1dd2e2;
            top: 20px;
            margin-left: 20px;
            cursor: pointer;
        }
    }
}

.publicity {
    background: url(../../../assets/images/centerBG.png) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    padding: 8vh 0;
    h3 {
        padding: 4vh 0 2vh;
    }
}

.projectsInformation {
    padding: 8vh 0;
    background: #EEEEF0;
    position: relative;
    h3 {
        color: #585858;
        letter-spacing: 2px;
        padding-bottom: 2vh;
        span {
            padding: 6px 0;
            border-bottom: 3px solid #1DD2E2;
        }
    }
    h6 {
        color: #585858;
    }
    img {
        width: 100%;
        height: 35vh;
    }
    .detailBox {
        position: relative;
    }
    .briefIntroduction {
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        background: rgba(29, 210, 226, 0.8);
        display: flex;
        align-items: center;
        visibility: hidden;
        ul {
            width: 100%;
        }
        li {
            color: #fff;
            text-align: left;
            font-size: 15px;
            letter-spacing: 1px;
            padding: 5px 8px;
            width: 100% !important;
            overflow: hidden;
            span {
                float: right;
                width: 80%;
            }
        }
    }
    .detailBox:hover .briefIntroduction {
        visibility: visible;
    }
    button.scanMore {
        position: absolute;
        right: 15vw;
        top: 23vh;
        background: #2cc6d8;
        border: none;
        outline: none;
        color: #fff;
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 5px;
        z-index: 1;
        cursor: pointer;
    }
    button.scanListMore {
        margin-top: 3vh;
        background: none;
        border: none;
        color: #2cc6d8;
        font-size: 16px;
        letter-spacing: 1px;
        outline: none;
        cursor: pointer;
    }
    /deep/ {
        .ui-carousel-header.ui-widget-header.ui-corner-all {
            margin: 5vh 0;
        }
        .ui-carousel-viewport {
            background: none !important;
            border: none !important;
        }
        .ui-carousel.ui-widget.ui-widget-content.ui-corner-all {
            width: 72vw;
            margin: auto;
        }
        .ui-carousel-header.ui-widget-header.ui-corner-all {
            display: inline-block;
            background: none;
            border: none;
        }
        .ui-carousel-page-links {
            display: none;
        }
        li.ui-carousel-item.ui-widget-content.ui-corner-all {
            padding: 10px !important;
            border: none;
            text-align: left;
            width: 24vw !important;
            margin: 0;
        }
        .pi-arrow-circle-left.ui-state-disabled {
            background: url(../../../assets/images/left.png) no-repeat;
            transform: rotate(0deg);
            background-size: contain;
        }
        .pi-arrow-circle-right.ui-state-disabled {
            background: url(../../../assets/images/left.png) no-repeat;
            background-size: contain;
            transform: rotate(180deg);
        }
        .pi-arrow-circle-left {
            background: url(../../../assets/images/right.png) no-repeat;
            background-size: contain;
            transform: rotate(180deg);
            width: 55px;
            height: 55px;
            font-size: 0px;
            margin-right: 10px;
        }
        .pi-arrow-circle-right {
            background: url(../../../assets/images/right.png) no-repeat;
            width: 55px;
            height: 55px;
            background-size: contain;
            font-size: 0px;
            margin-left: 10px;
        }
    }
}

.newsBulletin {
    padding: 8vh 0;
    background: #EEEEF0;
    position: relative;
    h3 {
        color: #585858;
        letter-spacing: 2px;
        padding-bottom: 2vh;
        span {
            padding: 6px 0;
            border-bottom: 3px solid #1DD2E2;
        }
    }
    h6 {
        color: #585858;
    }
    button.scanMore {
        position: absolute;
        right: 15vw;
        top: 12vh;
        background: #2cc6d8;
        border: none;
        outline: none;
        color: #fff;
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 5px;
        z-index: 1;
        cursor: pointer;
    }
    ul {
        padding: 5vh 15vw;
        display: flex;
        li {
            padding: 0 4vw;
            text-align: left;
        }
        h4 {
            display: inline-block;
            color: #2cc6d8;
            border: 2px solid #2cc6d8;
            padding: 2px 5px;
            border-radius: 5px;
            font-style: italic;
            font-size: 20px;
        }
        p {
            color: #585858;
            line-height: 32px;
            padding: 2vh 0;
        }
        button {
            background: none;
            border: none;
            color: #2cc6d8;
            font-size: 16px;
            letter-spacing: 1px;
            outline: none;
            cursor: pointer;
        }
    }
}

.popup {
    position: fixed;
    right: 6vw;
    top: 60vh;
    .closePopup {
        background: url('../../../assets/images/clostPopupBG.png') no-repeat;
        background-size: 100% 100%;
        width: 20px;
        height: 20px;
        position: absolute;
        top: -80px;
        right: -40px;
        border: none;
        outline: none;
    }
    .signBtn {
        background: url('../../../assets/images/signBtnBG.png') no-repeat;
        background-size: 100% 100%;
        width: 100px;
        height: 45px;
        position: absolute;
        right: -15px;
        top: -60px;
        border: none;
        outline: none;
    }
    .tooltipBox {
        border: 1px solid #00e9f3;
        color: #00e9f3;
        font-size: 20px;
        width: 40px;
        text-align: center;
        height: 110px;
        line-height: 40px;
        border-radius: 5px;
        position: relative;
        padding-top: 10px;
        a {
            color: #00e9f3;
            display: block;
        }
        .fa-mobile {
            font-size: 37px;
        }
        .mobile input {
            position: absolute;
            left: -130px;
            visibility: hidden; // width: 130px;
            background: none;
            border: none;
            color: #0ed8f3;
            height: 35px;
            display: inline-block;
        }
        img {
            position: absolute;
            right: 50px;
            transform: rotate(-90deg);
            top: -15px;
            width: 80px;
            display: none;
        }
        .mobile:hover input {
            visibility: visible;
        }
    }
}

@media screen and (max-width:1440px) {
    .detailBox {
        img {
            height: 50vh;
        }
        .briefIntroduction li {
            font-size: 14px !important;
            padding: 2px 10px !important;
            span {
                width: 72% !important;
            }
        }
    }
}