/deep/ .v-homepage-container {
    .h-top-content {
        display: none;
    }
    .h-bottom-content {
        padding: 0px !important;
    }
}

.map-box {
    height: 80vh;
    position: relative;
    .map {
        height: 100%;
        width: 100%;
    }
    .title-box {
        position: absolute;
        top: 20vh;
        right: 4vw;
        text-align: center;
        color: #fff;
        letter-spacing: 2px;
        .mainTitle {
            font-size: 35px;
            padding: 1.5vh 0;
            letter-spacing: 5px;
        }
    }
}

.productIntroduce {
    background: #fff;
    padding: 5vh 0;
    .detail {
        padding: 0 10vw;
        h3 {
            padding: 5vh 0;
            letter-spacing: 2px;
            color: #585858;
        }
        p {
            color: #585858;
            line-height: 32px;
        }
    }
}

.publicity {
    background: url(../../../assets/images/centerBG.png) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    padding: 8vh 0;
    h3 {
        padding: 4vh 0 2vh;
    }
}

.projectsInformation {
    padding: 8vh 0;
    background: #EEEEF0;
    position: relative;
    h3 {
        color: #585858;
        letter-spacing: 2px;
        padding-bottom: 2vh;
        span {
            padding: 6px 0;
            border-bottom: 3px solid #1DD2E2;
        }
    }
    h6 {
        color: #585858;
    }
    img {
        width: 100%;
    }
    .detailBox {
        position: relative;
    }
    .briefIntroduction {
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        background: rgba(29, 210, 226, 0.8);
        display: flex;
        align-items: center;
        visibility: hidden;
        li {
            color: #fff;
            text-align: left;
            font-size: 17px;
            letter-spacing: 2px;
            padding: 12px;
            width: 100% !important;
        }
    }
    .detailBox:hover .briefIntroduction {
        visibility: visible;
    }
    button.scanMore {
        position: absolute;
        right: 17vw;
        top: 23vh;
        background: #2cc6d8;
        border: none;
        outline: none;
        color: #fff;
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 5px;
        z-index: 1;
        cursor: pointer;
    }
    button.scanListMore {
        margin-top: 3vh;
        background: none;
        border: none;
        color: #2cc6d8;
        font-size: 16px;
        letter-spacing: 1px;
        outline: none;
        cursor: pointer;
    }
    /deep/ {
        .ui-carousel-header.ui-widget-header.ui-corner-all {
            margin: 5vh 0;
        }
        .ui-carousel-viewport {
            background: none !important;
            border: none !important;
        }
        .ui-carousel.ui-widget.ui-widget-content.ui-corner-all {
            padding: 0px 17vw;
        }
        .ui-carousel-header.ui-widget-header.ui-corner-all {
            display: inline-block;
            background: none;
            border: none;
        }
        .ui-carousel-page-links {
            display: none;
        }
        li.ui-carousel-item.ui-widget-content.ui-corner-all {
            padding: 10px !important;
            border: none;
            text-align: left;
            width: 22vw !important;
        }
        .pi-arrow-circle-left.ui-state-disabled {
            background: url(../../../assets/images/left.png) no-repeat;
            transform: rotate(0deg);
            background-size: contain;
        }
        .pi-arrow-circle-right.ui-state-disabled {
            background: url(../../../assets/images/left.png) no-repeat;
            background-size: contain;
            transform: rotate(180deg);
        }
        .pi-arrow-circle-left {
            background: url(../../../assets/images/right.png) no-repeat;
            background-size: contain;
            transform: rotate(180deg);
            width: 55px;
            height: 55px;
            font-size: 0px;
            margin-right: 10px;
        }
        .pi-arrow-circle-right {
            background: url(../../../assets/images/right.png) no-repeat;
            width: 55px;
            height: 55px;
            background-size: contain;
            font-size: 0px;
            margin-left: 10px;
        }
    }
}

.newsBulletin {
    padding: 8vh 0;
    background: #EEEEF0;
    position: relative;
    h3 {
        color: #585858;
        letter-spacing: 2px;
        padding-bottom: 2vh;
        span {
            padding: 6px 0;
            border-bottom: 3px solid #1DD2E2;
        }
    }
    h6 {
        color: #585858;
    }
    button.scanMore {
        position: absolute;
        right: 17vw;
        top: 12vh;
        background: #2cc6d8;
        border: none;
        outline: none;
        color: #fff;
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 5px;
        z-index: 1;
        cursor: pointer;
    }
    ul {
        padding: 5vh 17vw;
        display: flex;
        li {
            padding: 0 4vw;
            text-align: left;
        }
        h4 {
            display: inline-block;
            color: #2cc6d8;
            border: 2px solid #2cc6d8;
            padding: 2px 5px;
            border-radius: 5px;
            font-style: italic;
            font-size: 20px;
        }
        p {
            color: #585858;
            line-height: 32px;
            padding: 2vh 0;
        }
        button {
            background: none;
            border: none;
            color: #2cc6d8;
            font-size: 16px;
            letter-spacing: 1px;
            outline: none;
            cursor: pointer;
        }
    }
}

.popup {
    position: fixed;
    right: 8vh;
    top: 60vh;
    .closePopup {
        background: url('../../../assets/images/clostPopupBG.png') no-repeat;
        background-size: 100% 100%;
        width: 25px;
        height: 25px;
        position: absolute;
        top: -95px;
        right: -50px;
        border: none;
        outline: none;
    }
    .signBtn {
        background: url('../../../assets/images/signBtnBG.png') no-repeat;
        background-size: 100% 100%;
        width: 120px;
        height: 55px;
        position: absolute;
        right: -25px;
        top: -70px;
        border: none;
        outline: none;
    }
    .tooltipBox {
        border: 1px solid #00e9f3;
        color: #00e9f3;
        font-size: 25px;
        width: 45px;
        text-align: center;
        height: 135px;
        line-height: 60px;
        border-radius: 5px;
        position: relative;
        a {
            color: #00e9f3;
        }
        img {
            position: absolute;
            right: 50px;
            transform: rotate(-90deg);
            top: -15px;
            width: 80px;
            display: none;
        }
        .wchat:hover img {
            display: inline;
        }
    }
}

@media screen and (max-width:1440px) {
    .briefIntroduction li {
        font-size: 15px !important;
        padding: 3px 12px !important;
    }
}