<app-page-iframe [picture]="picture" [ZH_TITLE]="ZH_TITLE" [EN_TITLE]="EN_TITLE" [NAV_INDEX]="NAV_INDEX" class="projectInformationDetail">
  <div class="h-content-layout">
    <div class="h-content-top">
      <a [routerLink]="['/projectInformation']">在建项目</a>&lt;&lt;<span>工程概况</span>
    </div>

    <div class="h-content-bottom">
      <p-carousel [value]="projectDetail['pics']" numVisible=1>
        <ng-template let-projectPic pTemplate="item">
          <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
              <div class="ui-grid-col-12 detailBox">
                <img src="{{projectPic}}" alt="">
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
      <ul>
        <li><span>项目名称：</span><span>{{projectDetail.name}}</span></li>
        <li><span>建筑规模：</span><span>{{projectDetail.area}}</span></li>
        <li><span>工程地址：</span><span>{{projectDetail.address}}</span></li>
        <li><span>计划工期：</span><span>{{projectDetail.startDate}} ~ {{projectDetail.endDate}}</span></li>
        <li><span>设计单位：</span><span>{{projectDetail.designUnitName}}</span></li>
        <li><span>建设单位：</span><span>{{projectDetail.builder}}</span></li>
        <li><span>施工单位：</span><span>{{projectDetail.constructionUnitName}}</span></li>
        <li><span>监理单位：</span><span>{{projectDetail.supervision}}</span></li>
        <li><span>项目介绍：</span><span>{{projectDetail.description}}</span></li>
      </ul>
    </div>
  </div>
</app-page-iframe>