/deep/ .projectInformationDetail {
    .h-bottom-content {
        background: #fff !important;
        padding: 6vh 12vw !important;
    }
    li.ui-carousel-item.ui-widget-content.ui-corner-all {
        border: none;
        width: 60vw !important;
    }
    .ui-carousel-viewport {
        border: none !important;
    }
    .ui-carousel-header.ui-widget-header.ui-corner-all {
        position: absolute;
        bottom: 0px;
        z-index: 100;
        border: none;
        background: none;
    }
    .ui-carousel-page-links {
        display: none;
    }
    .ui-carousel.ui-widget.ui-widget-content.ui-corner-all {
        padding-bottom: 10vh;
        margin-bottom: 5vh;
        display: flex;
        justify-content: center;
        width: 60vw;
    }
    .pi-arrow-circle-left.ui-state-disabled {
        background: url(../../../assets/images/left.png) no-repeat;
        transform: rotate(0deg);
        background-size: contain;
    }
    .pi-arrow-circle-right.ui-state-disabled {
        background: url(../../../assets/images/left.png) no-repeat;
        background-size: contain;
        transform: rotate(180deg);
    }
    .pi-arrow-circle-left {
        background: url(../../../assets/images/right.png) no-repeat;
        background-size: contain;
        transform: rotate(180deg);
        width: 55px;
        height: 55px;
        font-size: 0px;
        margin-right: 10px;
    }
    .pi-arrow-circle-right {
        background: url(../../../assets/images/right.png) no-repeat;
        width: 55px;
        height: 55px;
        background-size: contain;
        font-size: 0px;
        margin-left: 10px;
    }
}

.h-content-layout {
    .h-content-left button {
        display: block;
        background: #EEEEEE;
        color: #000;
        padding: 10px 40px;
        border: none;
        outline: none;
    }
    button.building {
        background: #00e9f3 !important;
        color: #fff !important
    }
    img {
        width: 100%;
    }
    p {
        width: 60vw;
        line-height: 2em;
        padding: 2vh 0;
    }
}