<form action="">
  <input type="text" placeholder="请输入手机号" [(ngModel)]="username" name="username"><br>
  <input type="password" placeholder="请输入密码" [(ngModel)]="password" name="password"><br>
  <button (click)="sign($event)">登录</button>
</form>
<div class="ui-g v-tooltop">
  <div class="ui-g-8">
    <a (click)="showResetpwdDialog()">忘记密码</a>
    <span>|</span>
    <a href="assets/source/usePaper.pdf" target="_blank">使用指南</a>
  </div>
  <div class="ui-g-4">
    <a (click)="showRegistDialog()">注册新用户</a>
  </div>
</div>