<!-- <app-dialog-head> -->
<div class="dialog">
  <div class="v-scroll-box">
    <div class="dialogContainer">
      <div class="ui-g-12 v-dialog-layout">
        <h4 class="title"></h4>
        <form action="">
          <input type="text" placeholder="请输入手机号"><br>
          <input type="password" placeholder="请输入密码"><br>
          <button (click)="sign($event)">登录</button>
        </form>
        <div class="ui-g v-tooltop">
          <div class="ui-g-8">
            <a routerLink="/forgetPwd" routerLinkActive="forgetPwd">忘记密码</a>
            <span>|</span>
            <a routerLink="/heroes" routerLinkActive="active">使用指南</a>
          </div>
          <div class="ui-g-4">
            <a routerLink="/regist" routerLinkActive="active">注册新用户</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>