.h-top-header {
    height: 4vh;
    padding-left: 4vw;
    background: #F1F1F1;
    &>div {
        height: 100%;
    }
    .buttons {
        text-align: right;
        padding: 0 10vw 0 0;
    }
    .buttons button {
        border: none;
        height: 100%;
        letter-spacing: 2px;
        font-size: 15px;
        margin-left: 1vw;
        cursor: pointer;
        background: none;
        outline: none;
    }
    .signBox {
        display: inline-block;
    }
}

.ui-g.h-menubar {
    background: #fff;
    height: 6vh;
    line-height: 6vh;
    padding: 0 5vw;
    width: 100%;
    .logo {
        background: url(../../../../assets/images/_logo.png) no-repeat;
        background-position: center left;
    }
    h4 {
        padding: 0;
        color: #00E9FE;
        letter-spacing: 2px;
        font-weight: normal;
    }
    h4 span {
        display: inline-block;
        width: 5vw;
        background: #00e9fe;
        height: 1px;
        margin: 0px 10px;
        vertical-align: middle;
    }
    marquee {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        height: 100%;
        text-align: center;
        h5 {
            padding: 5px 0;
            font-size: 26px;
        }
    }
    .nav {
        display: flex;
        padding: 0;
        padding-right: 2vw;
        li {
            flex: 1;
            color: #000;
            text-align: center;
        }
        .navClicked,
        li:hover {
            color: #00e9fe;
        }
    }
}

.h-top-content {
    height: 20vh;
    position: relative;
}

.h-top-content img {
    height: 100%;
    width: 100%;
}

.title {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0p;
    color: #fff;
    top: 9vh;
}

.title h4 {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 2px;
}

.title span {
    font-size: 12px;
    line-height: 30px;
}

.h-bottom {
    height: 90vh;
    overflow: auto;
}

.h-bottom-content {
    min-height: 55vh;
    padding: 6vh 8vw;
    background: #EEEEF0;
}

.footer {
    position: relative;
    height: 230px;
    background: url(../../../../assets/images/bottomBG.png) no-repeat;
    background-size: 100% 100%;
}

.copyMessage {
    color: #797A84;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    height: 4vh;
    width: 100%;
    line-height: 4vh;
    text-align: center;
    background: rgba(31, 34, 49, 0.8);
    a.centerBase {
        margin: 0px 5vw;
        background: url(../../../../assets/images/ghs.png) no-repeat;
        padding-left: 22px;
    }
}

._copyMessage {
    color: #797A84;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    height: 80px;
    padding: 5px 0;
    width: 100%;
    line-height: 24px;
    text-align: center;
    background: rgba(31, 34, 49, 0.8);
    a.centerBase {
        margin: 0px 2vw;
        padding-left: 22px;
        background: url(../../../../assets/images/ghs.png) no-repeat;
    }
}

.QR {
    position: absolute;
    left: 25vw;
    top: 1.5vh;
    font-size: 12px;
    text-align: center;
    color: #d6d6d6;
}

.QR img {
    width: 9vh;
    margin-bottom: 0.5vh;
}

ul.tools {
    position: absolute;
    right: 25vw;
    top: 2vh;
}

ul.tools li {
    float: left;
    padding: 0px 1.5vw;
    font-size: 22px;
    text-align: center;
    i {
        color: #fff;
    }
}

ul.tools li:hover i {
    color: #00e9fe;
}

i.fa-mobile {
    font-size: 35px;
}

ul.tools li:hover>*:first-child {
    visibility: visible;
    color: #1dd2e2;
}

ul.tools li>*:first-child {
    height: 6vh;
    display: inline-block;
    visibility: hidden;
}

.QR-box {
    position: absolute;
    top: 4vh;
    width: 100%;
    text-align: center;
    height: 96vh;
    line-height: 96vh;
    background: rgba(8, 8, 8, 0.4);
    z-index: 2;
    span {
        color: #fff;
        font-size: 18px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        position: absolute;
        border-radius: 15px;
        background: #1dd2e2;
        top: 15vh;
        margin-left: 60px;
        cursor: pointer;
    }
}