<div class="v-container-layout">
  <div class="ui-g h-top-header">
    <div class="ui-g-6"></div>
    <div class="ui-g-6 buttons">
      <div *ngIf="ifShowSignButton" class="signBox">
        <button class="sign" (click)="showSignDialog()">请登录</button>
        <button class="regist" (click)="showRegistDialog()">去注册</button>
      </div>
      <button class="exit" (click)="exit()" *ngIf="!ifShowSignButton">退出登录</button>
      <button class="downloadApp text-right" (click)="showQR()">下载APP</button>
    </div>
  </div>
  <div class="ui-g h-menubar">
    <div class="ui-g-5 logo"></div>
    <ul class="ui-g-7 nav">
      <li *ngFor="let item of navArray;index as i" (click)="navClicked(item['link'])" [ngClass]="{navClicked: ifNavClickedArr[i]}">{{item['name']}}</li>
    </ul>
  </div>
  <div class="h-bottom">

    <div class="h-top-content">
      <img src="assets/images/{{picture}}" alt="">
      <div class="title">
        <h4>{{ZH_TITLE}}</h4><span>{{EN_TITLE}}</span>
      </div>
    </div>
    <div class="h-bottom-content">
      <ng-content></ng-content>
    </div>
    <div class="footer">
      <div class="baseMessage">
        <div class="QR">
          <img src="assets/images/QR.png" alt="">
          <br><span>智慧建造信息平台</span>
          <br><span>扫描下载官方APP</span>
        </div>
        <ul class="tools">
          <li>
            <img src="" alt="">
            <br>
            <a href="mailto:icc@iccloudy.com"><i class="fa fa-envelope-o"></i></a>
          </li>
          <li>
            <span>18513900020</span>
            <br>
            <i class="fa fa-mobile"></i>
          </li>
        </ul>
      </div>
      <div class="copyMessage" *ngIf="ifIsFirst">
        <span>©2017-2020 北京天辰科技有限公司 版权所有</span>
        <a class="centerBase" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010602005793" target="_blank">京公网安备11010602005793号</a>
        <span>联系电话：010-62419299；18513900020&nbsp;&nbsp;&nbsp;&nbsp;邮箱：<a href="mailto:icc@iccloudy.com">icc@iccloudy.com</a></span>
      </div>
      <div class="_copyMessage" *ngIf="!ifIsFirst">
        <span>石油石化工程智慧建造信息平台</span><br>
        <span>©2017-2020 北京华油鑫业工程技术有限公司All Rights Reserved
          <a class="centerBase" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010602005793"
            target="_blank">京公网安备11010602005793号</a>Total
          Solution by 北京天辰信科技有限公司
        </span><br>
        <span>联系电话：010-62419299；18513900020&nbsp;&nbsp;&nbsp;&nbsp;邮箱：<a href="mailto:icc@iccloudy.com">icc@iccloudy.com</a></span>
      </div>
    </div>
  </div>
</div>
<div class="QR-box" *ngIf="ifShowQR">
  <img src="assets/images/QR.png" alt="">
  <span (click)="ifShowQR=false">X</span>
</div>
<app-dialog-head (close)="closeDialog()" *ngIf="ifShowDialog">
  <app-sign-dialog (clickSign)="clickSign()" (clickShowRegistDialog)="clickShowRegistDialog()"
    (clickShowResetpwdDialog)="clickShowResetpwdDialog()" *ngIf="ifShowSignContent"></app-sign-dialog>
  <app-regist-dialog (clickRegist)="clickRegist()" (clickReturnSign)="showSignDialog()" *ngIf="ifShowRegistContent"></app-regist-dialog>
  <app-forgetpwd-dialog (clickResetPwd)="clickResetPwd()" (clickReturnSign)="showSignDialog()" *ngIf="ifShowResetpwdContent"></app-forgetpwd-dialog>
</app-dialog-head>