<app-page-iframe [picture]="picture" [ZH_TITLE]="ZH_TITLE" [EN_TITLE]="EN_TITLE" [NAV_INDEX]="NAV_INDEX">
  <div class="h-content-layout">
    <div class="h-content-top">
      <a [routerLink]="['/newsAnnouncement']">新闻通告</a>&lt;&lt;<span>详细信息</span>
    </div>
    <div class="messageDetail text-center">
      <h3>{{detailMes['title']}}</h3>
      <div><span>发布人：{{detailMes['person']}}</span><span>发布时间：{{detailMes['date']}}</span></div>
      <img [src]="img" alt="">
      <p>{{detailMes['detail']}}</p>
    </div>
  </div>
</app-page-iframe>