.content h4 {
    height: 5vh;
    font-size: 20px;
    letter-spacing: 2px;
}

.content .ui-g {
    height: 38vh;
}

.message {
    background: #1dd2e2;
    color: #fff;
    padding: 2vh 2vw;
}

.message h4 {
    font-weight: normal;
    margin: 20px 0 5px;
    font-size: 20px;
}

.message p {
    font-size: 15px;
    line-height: 24px;
    a {
        color: #fff;
    }
}

// .map {
// }
/deep/ .contactUs {
    .h-bottom-content {
        padding: 4vh 20vw !important;
        background: #fff !important;
    }
    label.BMapLabel {
        border: 1px solid #c7c7c7 !important;
        border-radius: 4px;
        width: 200px;
        height: 25px;
        line-height: 22px !important;
        text-align: center;
        font-size: 15px !important;
        color: #000 !important;
        letter-spacing: 1px;
        margin-left: -50px;
    }
}

@media screen and (max-width:1440px) {
    .message h4 {
        margin: 10px 0 5px;
    }
    .message p {
        line-height: 20px;
    }
}