<app-after-login-layout [picture]="picture" [ZH_TITLE]="ZH_TITLE" [EN_TITLE]="EN_TITLE" [NAV_INDEX]="NAV_INDEX">
    <div class='content'>
        <h4>我的位置</h4>
        <div class='ui-g'>
            <div class="ui-g-8 map"></div>
            <div class="ui-g-4 message">
                <h4>总部位置：</h4>
                <p>北京市海淀区西北旺镇百旺创新科技园永捷南路2号院2号楼2层2032</p>
                <h4>联系方式：</h4>
                <p>电话：101-88888888</p>
                <p>传真：010-88888888</p>
                <p>Q Q:659436265</p>
                <p>微信号：tianchenxin</p>
                <p>邮编：100000</p>
                <p>邮箱：tianchenxin@163.com</p>
            </div>
        </div>
    </div>
</app-after-login-layout>