<app-page-iframe [picture]="picture" [ZH_TITLE]="ZH_TITLE" [EN_TITLE]="EN_TITLE" [NAV_INDEX]="NAV_INDEX" class="contactUs">
    <div class='content'>
        <h4>我的位置</h4>
        <div class='ui-g'>
            <div class="ui-g-8 map" id="allmap"></div>
            <div class="ui-g-4 message">
                <h4>总部位置：</h4>
                <p>北京市西城区阜成门外大街37号楼 国侨宾馆商务楼宇工作站</p>
                <h4>联系方式：</h4>
                <p>电话：010-62419099</p>
                <p>手机：18513900020</p>
                <p>邮编：100037</p>
                <p>邮箱：<a href="mailto:icc@iccloudy.com">icc@iccloudy.com</a></p>
            </div>
        </div>
    </div>
</app-page-iframe>