<form action="">
  <input type="text" placeholder="请输入手机号" [(ngModel)]="phoneNum" name="phoneNum">
  <label>
    <input type="text" placeholder="请输入验证码" [(ngModel)]="yzmNum" name="yzmNum">
    <a class="yzm" (click)="getVerificationCode()" *ngIf="!ifshowTimeOut">{{yzmMes}}</a>
    <a class="yzm" *ngIf="ifshowTimeOut">已发送（{{second}}）s</a>
  </label>
  <input type="password" placeholder="请输入密码(8~20位，不能全是数字)" [(ngModel)]="password" name="password"><br>
  <input type="password" placeholder="请再次输入密码" [(ngModel)]="repassword" name="repassword"><br>
  <button (click)="resetPwd($event)">确定</button>
</form>
<div class="ui-g v-tooltop">
  <div class="ui-g-8">
  </div>
  <div class="ui-g-4">
    <a (click)="returnSign()">已有账号 立即登录</a>
  </div>
</div>